@media (max-width:800px) and (orientation: portrait){
    /* Estilos para telas menores que 1100px */
     
    #container{
        display: none;
    }
    #relatorio {
        width: 100%;
        margin: 1% 1%;
        min-height: 50vh;
        
    }

    #nav-bar{
        
        display: flex;
        width: 100%;
    }

    button{
        margin: 0;
        border-radius: 0;
        background-color:cornflowerblue;
        color: white;
        border: 1px solid black;
    }
    
    button:hover{
        background-color: white;
        color: rgb(5, 33, 146);
    }
  }
