@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body{
   background-color: blue;
   height: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(5, 33, 146);
    font-family: 'Pacifico', cursive;
   
}
header h1{
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 5px 5px black;
}

#icon{
  margin: 2%;
  filter: drop-shadow(5px 5px black);
}

#nav-bar{
    display: none;
}
section{
    display: flex;
}

#container{
    margin-left: 1%;
    margin-top: 1%;
    justify-content: center;
    background-color: rgb(5, 33, 146);
    max-width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    padding: 5%;  
    border-color: white;
    border-style: solid;
}

button{
    margin: 20px;
    width: 90%;
    font-size: 3vw;
    border-radius: 20px;
    border: 1px solid black;
    
}

button:hover{
    background-color: blue;
    color: white;
    border: 1px solid white;
}

.relatorio{
    margin-top: 1%;
    margin-left: 10%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 50%;
    border: solid white;
    border-radius: 20px;
    background-color: rgb(5, 33, 146);
    
}

#alunos {
    font-size: 3vw;
    font-family: serif;
    color: white;
}
p {
    color: white;
    font-size: 3vw;
    text-align: left;
    margin-left: 1%;
    margin-top: 1%;  
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    margin-top: 1%;
    background-color: rgb(5, 33, 146);
    font-size: 1vw;
    font-family: 'Pacifico', cursive;
    color: white;    
}

